$primary-color: #2d8cf0; // 全局主色
$link-color: #3eb2ff; // 链接色
$success-color: #3cd458; // 成功色
$warning-color: #faad14; // 警告色
$error-color: #ff4954; // 错误色
$font-size-base: 14px; // 默认字号
$heading-color: #333333; // 标题文本色
$text-color: #515A6E; // 主文本色
$text-color-secondary : #949494; // 次文本色
$disabled-color : rgba(0, 0, 0, .25); // 失效色
$border-radius-base: 3px; // 组件/浮层圆角
$border-color-base: #e4e4e4; // 边框色
$bg-color-base: #f6f6f6; // 浅背景色
$box-shadow-base: 0 3px 9px rgba(0, 0, 0, 0.1); // 浮层阴影
$bg-layer: rgba(0, 0, 0, .7); // 遮罩层
$bg-color-dark: #333; // 深背景

$title-font-size: 28px; //一级标题
$sub-title-font-size: 20px; //二级标题